<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
        <script src="./js/vuev2.5.21.js"></script>
        <style>
            *{
                margin: 0;
                padding: 0;
                list-style: none;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <button @click="addData">点击button按钮增加obj中对象数据</button>
            <h3>往对象里增加方法</h3>
            <ul>
                <li v-for="(val,key,index) of obj">
                    值:{{val}} ----key:{{key}} ----索引:{{index}}
                </li>
            </ul>

            <button @click="addData2">点击增加数组数据</button>
            <h3>往数组里增加方法</h3>
            <ul>
                <li v-for="(item,index) of list">
                    {{item}}
                </li>
            </ul>
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    obj:{
                        title:"hello,world",
                        name:"张三",
                        age:"18",
                        sex:"男"
                    },
                    list:[1,2,3,4]
                },
                methods: {
                   addData(){
                       Vue.set(this.obj,"skin" + Math.random(),'red')
                   },
                   addData2(){
                       vm.$set(vm.list,0,"hello world")   //设置list第一项值为hello world
                   } 
                },
            })
        </script>
    </body>
</html>