<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
        <script src="./lib/js/vue-2.4.0.js"></script>
        <style>
            #ball{
                width: 180px;
                height: 180px;
                border-radius: 50%;
                background-color:hotpink;
            }
            /* .v-enter{
                transform: translate(0,0)
            }
            .v-leave-to{
                transform: translateX(0,350px)
            }
            .v-enter-active,
            .v-leave-active{
                transition: all 0.5s ease;
            } */
        </style>
    </head>
    <body>
        <div id="app">
            <input type="button" value="添加到购物车" @click="flag=!flag">
            <transition
            @before-enter="beforeEnter"
            @enter="enter"
            @after-enter="afterEnter">
                <!-- v-if="flag"  v-if和v-show都是用于控制元素的显示隐藏的, v-if如果表达式是false, 元素压根不会创建, 而v-show如果表达式结果是false, 元素也会创建只是把display设为了none -->
                <div id="ball" v-if="flag"></div>   
            </transition>
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    flag:false,
                },
                methods: {
                    beforeEnter(el){
                        el.style.transform="translate(0,0)"
                    },
                    enter(el,done){
                        el.offsetWidth
                        el.style.transform="translate(150px,600px)"
                        el.style.transition="all 2s ease"
                        done()
                    },
                    afterEnter(el){
                        this.flag=!this.flag
                    }
                }
            })
        </script>
    </body>
</html>